streamlit>=1.38.0
pypdf>=5.0.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-chroma>=0.1.4
langchain-groq>=0.2.0
langchain-huggingface>=0.1.0
sentence-transformers>=3.0.0
flashrank>=0.2.0
python-dotenv>=1.0.0
torchvision
ragas>=0.2.0
datasets>=2.20.0